<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="Play-Pause" value="http://10.244.0.5/?shortcut=02cfc5c9-95e8-4e9e-92be-cd9401b7ddcd"/>
		<!--The url to play a replay-->
		<add key="Reverse" value="http://10.244.0.5/?shortcut=35af7592-d27b-47c8-aa51-0153f1b01e42"/>
		<!--The url to Reverse a replay-->
		<add key="Default_Pen_Color" value="yellow"/>
		<!-- Sets the default color of the brush. For a list of Color you can use see: https://learn.microsoft.com/en-us/dotnet/api/system.windows.media.colors?view=windowsdesktop-8.0-->
		<add key="Default_Pen_Size" value="9"/>
		<!--Sets the default size of the brush-->
	</appSettings>
</configuration>
